<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <title>Log In</title>
    <body>
        <h1> Login Page</h1>
        <div id= login>
            <form action="/" method="POST">
                <label for="name">User Name:</label>
                <input type="text" name="name">
                <br>
                <label for="password">password-</label>
                <input type="password" name="password">
                <br>
                <input type="submit" value="login" style=" border:5px red; padding:5px; font-size:20px"  >
            </form>
        <p>
        new User??
        <a href="/signup">SignUp!!</a> 
        </p>
        </div>
    </body>
</html>